<!DOCTYPE html>
<html class="demo">
<head>
<title>后台</title>
	<meta charset="utf-8" />
	<link type="text/css" rel="stylesheet" href="../static/css/admin/frame.css" />
	<link type="text/css" rel="stylesheet" href="../static/css/admin/frame_skin_00.css" />
	<script type="text/javascript" src="../static/js/public/jquery.min.js"></script>
	<script type="text/javascript" src="../static/js/admin/base.js"></script>
</head>

<body>
	<div class="main_menu">
		<div class="logo">
			<img src = '../static/img/admin/logo.png' alt="大首页" width=30 height=30 />
			<span>超级爬虫</span>
		</div>
		<dl>
			<dt class="show">
                管理菜单
                <i class="icon">&nbsp;</i>
			</dt>
			<dd class="show">
                <ul>
                    <li class="current"><a href="spider_list.html" target="content">爬虫列表</a></li>
                    <li><a href="spider_monitor.html" target="content">监控</a></li>
                    <li><a href="spider_log.html" target="content">Log日志</a></li>
                </ul>
			</dd>
		</dl>
		<div class="menu_onff" title="收起菜单">
			<span>
				.
				<br/>
				.
				</br>
				.
			</span>
		</div>
	</div>

	<div class="workspace">
		<div class="panle panle_top">
			<nav class="nav">
                <a href="spider_form.html" target="content" class="current">新建爬虫</a>
			</nav>
		</div>
		<div class="panle panle_bottom">
			<div class="cur_position">现在时间：2011年09月5日&nbsp;&nbsp;星期一&nbsp;&nbsp;09：42</div>
			<div class="userbar">
				<span>您好，Administrators!</span>
				<a href="#" class="admin">帐号管理</a>
				<a href="#" class="sys">系统设置</a>
				<a href="#" class="hmsg">2条消息</a>
				<a href="#" class="quit">退出</a>
			</div>	
		</div>
		<div class="main_cont">
			<iframe name="content" src="spider_list.html"></iframe>
		</div>
	</div>
</body>
</html>
