<!DOCTYPE html>
<html>
<head>
	<title>添加栏目</title>
	<meta charset="utf-8" />
	<link type="text/css" rel="stylesheet" href="../static/css/admin/pop.css" />
	<link type="text/css" rel="stylesheet" href="../static/css/admin/spider.css" />
	<script type="text/javascript" src="../static/js/public/jquery.min.js"></script>
	<script type="text/javascript" src="../static/js/admin/switch.js"></script>
</head>

<body>
<div class="spider_list">
	<table id="spider_table" class="table">
			<thead>
				<tr>
					<th>爬虫名称</th>
					<th>爬虫标识</th>
					<th>栏目ID</th>
					<th>操作</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>内容</td>
					<td>内容</td>
					<td>内容</td>
					<td><a class="start" href="#">启动</a><a class="edit" href="#">编辑</a><a class="delete" href="#">删除</a></td>
				</tr>
				<tr>
					<td>内容</td>
					<td>内容</td>
					<td>内容</td>
					<td><a class="start" href="#">启动</a><a class="edit" href="#">编辑</a><a class="delete" href="#">删除</a></td>
				</tr>
				<tr>
					<td>内容</td>
					<td>内容</td>
					<td>内容</td>
					<td><a class="start" href="#">启动</a><a class="edit" href="#">编辑</a><a class="delete" href="#">删除</a></td>
				</tr>
				<tr>
					<td>内容</td>
					<td>内容</td>
					<td>内容</td>
					<td><a class="start" href="#">启动</a><a class="edit" href="#">编辑</a><a class="delete" href="#">删除</a></td>
				</tr>
				<tr>
					<td>内容</td>
					<td>内容</td>
					<td>内容</td>
					<td><a class="start" href="#">启动</a><a class="edit" href="#">编辑</a><a class="delete" href="#">删除</a></td>
				</tr>
			</tbody>
		</table>
		<div class="page">
			<ul>
				<li><a href="#">上一页</a></li>
				<li><a class="current" href="#">1</a></li>
				<li><a href="#">2</a></li>
				<li><a href="#">3</a></li>
				<li><a href="#">4</a></li>
				<li><a href="#">5</a></li>
				<li>...</li>
				<li><a href="#">10</a></li>
				<li><a href="#">下一页</a></li>
				<li><input type="text" class="int"><input type="submit" value="GO" class="go"></li>
			</ul>
		</div> 
</div>
</body>
</html>
