<!DOCTYPE html>
<html>
<head>
	<title>添加栏目</title>
	<meta charset="utf-8" />
	<link type="text/css" rel="stylesheet" href="../static/css/admin/pop.css" />
	<link type="text/css" rel="stylesheet" href="../static/css/admin/spider.css" />
	<script type="text/javascript" src="../static/js/public/jquery.min.js"></script>
	<script type="text/javascript" src="../static/js/public/jplugins/jquery.cookie.js"></script>
	<script type="text/javascript" src="../static/js/admin/category.js"></script>
</head>

<body>
<div class="spider_monitor">
<div class="monitor_list">
	<h2 class="title">正在运行的爬虫列表</h2>
	<table id="table" class="table">
			<thead>
				<tr>
					<th>爬虫名称</th>
					<th>爬虫标识</th>
					<th>栏目ID</th>
					<th>运行时间</th>
					<th>操作</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>内容</td>
					<td>内容</td>
					<td>内容</td>
					<td>内容</td>
					<td><a class="start" href="#">启动</a><a class="edit" href="#">编辑</a><a class="delete" href="#">删除</a></td>

				</tr>
				<tr>
					<td>内容</td>
					<td>内容</td>
					<td>内容</td>
					<td>内容</td>
					<td><a class="start" href="#">启动</a><a class="edit" href="#">编辑</a><a class="delete" href="#">删除</a></td>

				</tr>
				<tr>
					<td>内容</td>
					<td>内容</td>
					<td>内容</td>
					<td>内容</td>
					<td><a class="start" href="#">启动</a><a class="edit" href="#">编辑</a><a class="delete" href="#">删除</a></td>

				</tr>
				<tr>
					<td>内容</td>
					<td>内容</td>
					<td>内容</td>
					<td>内容</td>
					<td><a class="start" href="#">启动</a><a class="edit" href="#">编辑</a><a class="delete" href="#">删除</a></td>

				</tr>
				<tr>
					<td>内容</td>
					<td>内容</td>
					<td>内容</td>
					<td>内容</td>
					<td><a class="start" href="#">启动</a><a class="edit" href="#">编辑</a><a class="delete" href="#">删除</a></td>

				</tr>
			</tbody>
		</table>
	</div>
<div class="monitor_list">
	<h2 class="title">已抓取的数据：</h2>
	<div class="testdd">
			<p>链接：55888条</p>
			<p>内容：55888条</p>
	</div>
</div>
<!--<div class="monitor_list">
	<h2 class="title">已运行时间：</h2>
	<div class="testdd">
		
	</div>
</div>-->
<div class="monitor_list">
	<h2 class="title">已开启的线程：</h2>
</div>

</div>
</body>
</html>
