<!DOCTYPE html>
<html>
<head>
	<title>添加栏目</title>
	<meta charset="utf-8" />
	<link type="text/css" rel="stylesheet" href="../static/css/admin/spider.css" />
	<script type="text/javascript" src="../static/js/public/jquery.min.js"></script>
	<script type="text/javascript" src="../static/js/public/jplugins/jquery.cookie.js"></script>
	<script type="text/javascript" src="../static/js/admin/category.js"></script>
</head>

<body>
<div class="spider_log">
	<form action="#">
		<div class="spider_srh">
			<input type="text" class="int" id="ser_ipt" required placeholder="请输入关键字" /><input type="submit" class="search" value="搜索" />
		</div>
	</form>

	<table id="table" class="table">
			<thead>
				<tr>
					<th>日期</th>
					<th>爬虫名称</th>
					<th>爬虫标识</th>
					<th>日志内容</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>内容</td>
					<td>内容</td>
					<td>内容</td>
					<td>内容</td>
				</tr>
				<tr>
					<td>内容</td>
					<td>内容</td>
					<td>内容</td>
					<td>内容</td>
				</tr>
				<tr>
					<td>内容</td>
					<td>内容</td>
					<td>内容</td>
					<td>内容</td>
				</tr>
				<tr>
					<td>内容</td>
					<td>内容</td>
					<td>内容</td>
					<td>内容</td>
				</tr>
				<tr>
					<td>内容</td>
					<td>内容</td>
					<td>内容</td>
					<td>内容</td>
				</tr>
			</tbody>
		</table>
		<div class="page">
			<ul>
				<li><a href="#">上一页</a></li>
				<li><a class="current" href="#">1</a></li>
				<li><a href="#">2</a></li>
				<li><a href="#">3</a></li>
				<li><a href="#">4</a></li>
				<li><a href="#">5</a></li>
				<li>...</li>
				<li><a href="#">10</a></li>
				<li><a href="#">下一页</a></li>
				<li><input type="text" class="int"><input type="submit" value="GO" class="go"></li>
			</ul>
		</div>
</div>
</body>
</html>
